<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="plateau">
            <h2><span jhiTranslate="plateauFffApp.plateau.detail.title">Plateau</span> {{ plateau.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="plateauFffApp.plateau.dateDebut">Date Debut</span></dt>
                <dd>
                    <span>{{ plateau.dateDebut }}</span>
                </dd>
                <dt><span jhiTranslate="plateauFffApp.plateau.dateFin">Date Fin</span></dt>
                <dd>
                    <span>{{ plateau.dateFin }}</span>
                </dd>
                <dt><span jhiTranslate="plateauFffApp.plateau.heureDebut">Heure Debut</span></dt>
                <dd>
                    <span>{{ plateau.heureDebut }}</span>
                </dd>
                <dt><span jhiTranslate="plateauFffApp.plateau.heureFin">Heure Fin</span></dt>
                <dd>
                    <span>{{ plateau.heureFin }}</span>
                </dd>
                <dt><span jhiTranslate="plateauFffApp.plateau.programme">Programme</span></dt>
                <dd>
                    <div *ngIf="plateau.programme">
                        <a (click)="openFile(plateau?.programmeContentType!, plateau?.programme)" jhiTranslate="entity.action.open">open</a>
                        {{ plateau.programmeContentType }}, {{ byteSize(plateau.programme) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="plateauFffApp.plateau.nombreEquipeMax">Nbr Equipe Max</span></dt>
                <dd>
                    <span>{{ plateau.nombreEquipeMax }}</span>
                </dd>
                <dt><span jhiTranslate="plateauFffApp.plateau.statut">Statut</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'plateauFffApp.Statut.' + plateau.statut }}">{{ plateau.statut }}</span>
                </dd>
                <dt><span jhiTranslate="plateauFffApp.plateau.valid">Valid</span></dt>
                <dd>
                    <span>{{ plateau.valid }}</span>
                </dd>
                <dt><span jhiTranslate="plateauFffApp.plateau.referent">Referent</span></dt>
                <dd>
                    <div *ngIf="plateau.referent">
                        <a [routerLink]="['/referent', plateau.referent?.id, 'view']">{{ plateau.referent?.nom }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="plateauFffApp.plateau.user">User</span></dt>
                <dd>
                    {{ plateau.user?.id }}
                </dd>
                <dt><span jhiTranslate="plateauFffApp.plateau.stade">Stade</span></dt>
                <dd>
                    <div *ngIf="plateau.stade">
                        <a [routerLink]="['/stade', plateau.stade?.id, 'view']">{{ plateau.stade?.nom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plateau', plateau.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
